.menu-mobile {
  display: none;
}
body {
  margin: 0 auto;
  font-size: 16px;
}
a,
p,
h1,
h2 {
  color: #fff;
  font-family: sans-serif;
}
/*Menu*/
.menu {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  height: 100px;
  max-width: 1319px;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.logo {
  height: 60px;
  display: flex;
  justify-content: center;
  max-width: 120px;
  margin-right: 34px;
}
[data-dropdown] {
  position: relative;
}
[data-dropdown] .dropdow-menu {
  display: none;
}
[data-dropdown].ativo .dropdow-menu {
  display: block;
  border-radius: 0 3rem 3rem 3rem;
  padding: 3rem;
}
.dropdow-menu {
  position: absolute;
  background-color: #fff;
  z-index: 9999999;
}
.dropdow-menu p {
  color: #5a6075;
  font-weight: bold;
  text-transform: uppercase;
}
.dropdow-menu ul {
  list-style: none;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  width: max-content;
  padding-left: unset;
}
.dropdow-menu ul li {
  margin-right: 15px;
  width: max-content;
  position: relative;
  padding-top: 10px;
}
.dropdow-menu li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background-color: #ff8b00;
  left: 0;
  bottom: 0;
  transition: 0.6s;
}
.dropdow-menu li:hover a::after {
  width: 100%;
}
.dropdow-menu li a {
  color: #3f4351 !important;
  font-size: 1.2rem !important;
}
.dropdow-menu li a:hover {
  color: #ff8b00;
}
.btn {
  background-color: unset;
  border: unset;
  display: flex;
  align-items: center;
  font-size: 1.01rem;
}
.btn span {
  font-size: 2.5rem;
  line-height: 0;
}
.btn span::before {
  content: url("../img/menu-burguer.png");
}
.menu-paginas {
  width: 50%;
}
.menu-paginas > ul {
  display: flex;
  justify-content: space-between;
}
.menu-paginas > ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.menu-paginas > ul > li {
  font-size: 1.3rem;
  transition: 0.6s ease;
}
.menu-paginas > ul > li:hover {
  font-weight: bold;
}
.div-busca-login {
  display: flex;
  min-width: 25%;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  padding-left: 50px;
}
.div-busca > button {
  background-color: unset;
  border: unset;
}
.div-busca .icone-busca::before {
  content: url("../img/search.png");
}
.div-login {
  padding: 0 1.5rem !important;
  border: 2px solid #fff !important;
  font-size: 0.94rem !important;
  border-radius: 10rem;
  min-height: 52px !important;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.div-login a {
  display: flex;
  align-items: center;
}
.div-login span::before {
  content: url("../img/login.png");
}
/*Conteudo*/
.first-section {
  background-image: url("../img/back-top-home.png");
  background-size: cover !important;
  background-position: center center !important;
  display: flex;
  justify-content: center;
}
.div-conteudo {
  display: flex;
  height: 507px;
  align-items: center;
  justify-content: center;
}
.div-conteudo > div {
  padding-left: 15px;
  padding-right: 15px;
}
.bloco-esquerda {
  width: 49%;
}
.titulo-primeiro {
  font-size: 5rem;
  font-weight: normal;
  margin-bottom: 10px;
}
.texto-primeiro {
  font-size: 1.3rem;
}
.btn-cta {
  display: flex;
  margin-bottom: 2rem;
}
.compra {
  width: 40%;
  font-size: 1.3rem;
  padding-right: 15px;
}
.compra > span {
  padding: 0.9375rem 2.1rem !important;
  border-radius: 10rem !important;
  font-weight: bold;
  background-image: linear-gradient(90deg, #f00, #f00, #ffb600);
  background-size: 200%;
  background-position: left;
  transition: background-position 1s;
}
.compra > span:hover {
  background-position: right;
}
.ensinar {
  font-size: 1.3rem;
  padding-right: 15px;
}
.ensinar > span {
  border: 2px solid;
  padding: 1rem 1.5rem !important;
  border-radius: 10rem !important;
  transition: all 0.6s;
}
.ensinar > span:hover {
  background-color: red;
  border-color: red;
}
.texto-cadastra > a {
  font-weight: bold;
}
.bloco-direita > img {
  max-width: 457px;
  margin-bottom: -227px;
}
.second-section {
  display: flex;
  justify-content: center;
}
.second-section > div {
  display: flex;
  padding-top: 4.4rem;
  max-width: 1170px;
}
.second-section div > h2,
.second-section div > p {
  color: #3f4351;
}
.blocos {
  width: 25%;
  padding: 0px 15px;
}
@media (max-width: 765px) {
  .menu-mobile {
    display: unset;
  }
  .menu {
    display: none;
  }
  .div-conteudo {
    height: unset;
    flex-direction: column;
  }
  .bloco-esquerda {
    width: unset;
    display: flex;
    flex-direction: column;
  }
  .second-section > div {
    max-width: unset;
  }
  .second-section > div {
    max-width: unset;
    flex-direction: column;
  }
  .bloco-direita > img {
    max-width: 100%;
    margin-bottom: -64px;
  }
  .titulo-primeiro {
    font-size: 3.8rem;
  }
  .texto-primeiro {
    margin-bottom: 10px;
  }
  .texto-primeiro,
  .texto-cadastra {
    filter: drop-shadow(1px 1px 1px black);
  }
  .btn-cta {
    flex-direction: column;
    min-height: 143px;
    justify-content: space-between;
    margin-bottom: unset;
  }
  .compra,
  .ensinar {
    width: 100%;
  }
  .btn-cta > a {
    display: flex;
  }
  .compra > span {
    width: 100%;
    text-align: center;
  }
  .btn-cta > a > span {
    font-size: 1rem;
    width: 100%;
  }
  .btn-cta > a > span {
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .second-section > div > .bl {
    text-align: center;
  }
}
